.mainWindow{
  border:1px solid #555;
  position: fixed;
  width:50%;
  left:25%;
  top:25%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1);
  font-family: arial;
}

.infoPanel{
  margin: 10px;
  border:1px solid #eee;
}

.mainText{
  margin: 5px;
  text-align: center;
}

.fieldName{
  width:30%;
  display: inline-block;
  margin: 5px;
}

.field{
  width:60%;
  padding: 5px;
  margin: 5px;
}
